@inject IJSRuntime JS

<div class="wrapper-image-flow">
    <img src="@Image.Src" alt="@Image.Alt"
         oncontextmenu="return false;" ontouchstart="return true;" ontouchend="return true;"
         class="image-@Image.Dir" style="@GetInitialImageStyle()"
         @onclick="ToggleImage" />
    @if (ChildContent is not null)
    {
        <div class="explication-image  mud-typography-body2">@ChildContent</div>
    }
</div>

@if (isImageActive)
{
    <div class="visioner-wrapper">
        <div id="scrollableDiv_@Image.Id" class="visioner visioner-@Image.Dir visioner-grab-area @ImageClass">
            <img @ref="ImgRef" src="@Image.Src" alt="@Image.Alt"
                 oncontextmenu="return false;" ontouchstart="return true;" ontouchend="return true;"
                 class="image-@Image.Dir" style="@GetVisionerImageStyle()"
                 id="zoomimg_@Image.Id" data-scale="@Scale" />
        </div>
    </div>
    <div class="visioner-wrapper-tool row">

        <MudSlider Min="0.5" Max="2" Step="0.005" Value="@Scale" ValueChanged="@((double val) => OnScaleChanged(val))"
            ValueChanged:Event="oninput" Size="Size.Large" Class="slider-zoom-visioner" />
        <button class="btn btn-primary btn-resize-image @ImageClass mud-theme-primary" @onclick="ToggleEnable">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
}

@code {
    [Parameter] public string? SizeFlow { get; set; }
    [Parameter] public string? SizeVis { get; set; }
    [Parameter] public ImageItem Image { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    public string ImageClass => isImageActive ? "visioner-active" : "img-normal";

    private bool isImageActive = false;
    private bool isImageToggleEnabled = true;
    private bool isGrabEnabled = false;

    private ElementReference ImgRef;
    private double Scale = 1.0;

    private async Task OnScaleChanged(double value)
    {
        Scale = value;
        await JS.InvokeVoidAsync("updateImageSize", $"zoomimg_{Image.Id}", Scale);
    }
    private string GetSizeStyle(string? sizeStr)
    {
        if (string.IsNullOrWhiteSpace(sizeStr))
            return string.Empty;

        var parts = sizeStr.Split('*');
        var style = "";

        if (parts.Length == 1)
        {
            if (sizeStr.StartsWith("*") && int.TryParse(parts[0][1..], out var onlyH))
            {
                style += $"max-height: {onlyH}px;";
            }
            else if (int.TryParse(parts[0], out var onlyW))
            {
                style += $"max-width: {onlyW}px;";
            }
        }
        else if (parts.Length == 2)
        {
            if (!string.IsNullOrWhiteSpace(parts[0]) && int.TryParse(parts[0], out var w))
                style += $"max-width: {w}px;";
            if (!string.IsNullOrWhiteSpace(parts[1]) && int.TryParse(parts[1], out var h))
                style += $"max-height: {h}px;";
        }

        return style;
    }


    private string GetInitialImageStyle()
    {
        return !string.IsNullOrWhiteSpace(SizeFlow)
            ? GetSizeStyle(SizeFlow)
            : GetSizeStyle(Image?.Size);
    }

    private string GetVisionerImageStyle()
    {
        return !string.IsNullOrWhiteSpace(SizeVis)
            ? GetSizeStyle(SizeVis)
            : GetSizeStyle(Image?.Size);
    }
    public async void ToggleImage()
    {
        if (!isImageToggleEnabled) return;
        isImageActive = true;
        isImageToggleEnabled = false;
        isGrabEnabled = true;
        await JS.InvokeVoidAsync("document.body.style.setProperty", "overflow", "hidden");

        await InvokeAsync(StateHasChanged); // 等待视图刷新后启用 JS
    }

    private async void ToggleEnable()
    {
        isImageActive = false;
        isImageToggleEnabled = true;
        await JS.InvokeVoidAsync("document.body.style.removeProperty", "overflow");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isGrabEnabled)
        {
            isGrabEnabled = false;
            string id = $"scrollableDiv_{Image.Id}";
            await JS.InvokeVoidAsync("enableGrabScroll", id);
            await JS.InvokeVoidAsync("updateImageSize", $"zoomimg_{Image.Id}", Scale);
        }
    }
}
